.container{
  font-family: sans-serif;
}
.selectsOption{
  display: none;
  background-color:aliceblue;
  width: 40vw;
}
li{
  text-transform: uppercase;
  padding: 15px;
  display: inline-block;
  text-decoration: underline;

}
.heading:hover + .selectsOption{
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.heading{
  cursor: pointer;
}